.nav-main{
  background-color:#263238;
  border-radius: 0;
}
.nav-main .navbar-header > a{
  color: #fafafa;
}
.nav-main li > a{
  color:#9e9e9e;
  transition: all 0.3s;
}
.nav-main li > a:hover{
  background:#263238;
  color:white;
}
.nav-main li > a:active{
  background:#263238;
}
